<%-include('partials/header.ejs');%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<link rel="stylesheet" href="stylesheet/index.css">


<img class="homepic" src="/images/usha1.jpg">

<section class="home" id="home">

    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, my name is</div>
            <div class="text-2">Usha Upreti</div>
            <div class="text-3">And I'm a <span class="typing"></span></div>
            <a class="hire" href="">Hire Me</a>
        </div>
    </div>
</section>

<section class="aboutme" id="aboutme">
    <p class="about">MY PROFILE</p>
      <p class="iam">I am a Model and Social Worker</p>
     <hr width="70%"> 
     
     <div class="row">
  <div class="col-md-4 aboutu">
      <h3 class="little">About me</h3>
      <p class="details"> I am a Nepalese Model and Miss Jhapa Icon 2018 . I love to dance and make tiktok videos. I have featured more than 50+ music videos in nepali entertainment industry. Also Travelling is my passion and working as a herione in a movie is my dream.</p>
  </div>
  <div class="col-md-3 text-center">
      <img src="images/about.jpg" class="img-circle">
  </div>
  <div class="col-md-4 detailscol">
      <h3  class="little">Details</h3>
      <p>
          <strong>Name:</strong><br />
          Usha Upreti<br />
          <strong>Age:</strong><br />
          22 years<br />
          <strong>Height:</strong><br />
          5'3<br />
          <strong>Location:</strong><br />
          Birtamode,Jhapa	<br />
          <strong>Occupation:</strong><br />	
          Model, Tiktoker<br/>
          <strong>Relation:</strong><br />
          Single	<br />
      </p>
      
  </div>
  
</div>
<center>
    <p class="intro">Latest Music Video</p>
    <iframe class="videomin" width="960" height="515" src="https://www.youtube.com/embed/ZKoxDO_3k5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</section>


<section class="gallaryusha" id="gallaryusha">

<div class="container-fluid">
    <p class="mygalls">MY GALLARY</p>
    <p class="iam">Some Memories Collection</p>
       <hr>
      

      <div class="row">
        <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
            <a href="/images/usha2.jpg">
          <img
            src="/images/usha2.jpg" width="100%"
            class="w-100 shadow-1-strong rounded mb-3"
            alt=""
          /></a> <br><br>   
      <a href="/images/usha4.jpg">
          <img
            src="/images/usha4.jpg" width="100%" height="64.5%"
            class="w-100 shadow-1-strong rounded mb-3"
            alt=""
          /></a> <br><br> 
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="/images/usha7.jpg">      
            <img
            src="/images/usha7.jpg" width="100%"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          /></a> <br><br> 

      <a href="/images/usha5.jpg">
          <img
            src="/images/usha5.jpg" width="100%" height="48%"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          /></a>

        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="/images/usha6.jpg">
          <img
            src="/images/usha6.jpg" width="100%"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          /></a> <br><br> 

      <a href="/images/usha3.jpg">
          <img
            src="/images/usha3.jpg" width="100%" height="52.5%"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          /></a>
        </div>
      </div>
    </section>

    <section class="videosusha" id="videosusha">
        <p class="aboutmusic">Music  VIDEOS</p>
        <p class="iam">Dance With Me</p>
           <hr>
           <center>
           <div class="videoscollection">
            <iframe class="videomins" width="560" height="315" src="https://www.youtube.com/embed/z6T6g6E45pM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <iframe class="videomins" width="560" height="315" src="https://www.youtube.com/embed/0qTNrAlHbWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <br><br>
               
    
            <iframe class="videomins" width="560" height="315" src="https://www.youtube.com/embed/OJKybtxE7KY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 <iframe class="videomins" width="560" height="315" src="https://www.youtube.com/embed/D3yZCsvab3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
                            
                               
            <iframe class="videomins" width="560" height="315" src="https://www.youtube.com/embed/AcsVuIS7muo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <iframe  class="videomins" width="560" height="315" src="https://www.youtube.com/embed/CyGGixkI3x0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
                </div></center>
    



</section>

<section class="contactusha" id="contactusha">

    <p class="connectme">CONNECT ME ON</p>
    <p class="iam">For Collaboration</p>
       <hr>
    <img class="sk7" src="images/usha9.png"> 
<div class="container">
    <div class="social-links">
      <a href="https://www.instagram.com/realushauppreti/" class="af"> <i class="fab fa-instagram"></i></a><br>
    <a href="https://www.facebook.com/usha.uppreti.090618" class="af"> <i class="fab fa-facebook-f"></i></a><br>
    <a href="" class="af"><i class="fab fa-medium-m"></i></a><br>

    <a href="" class="af"> <i class="fab fa-youtube"></i></a><br>
    <a href="" class="af"> <i class="fab fa-twitter"></i> </a>  <br>
    <a href="" class="af"> <i class="fab fa-linkedin-in"></i> </a>
</div>
</div>
</section>

<!-- Remove the container if you want to extend the Footer to full width. -->
<hr>
  <footer class="text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">ushaupreti@gmail.com</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(97, 94, 94, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="/">ushaupreti.com</a>
  </div>
  <!-- Copyright -->
</footer>
  
\<!-- End of .container -->



<script src="javascript/index.js"></script>
</body>
</html>